html,body{width: 100%;height: 100%;}
body,
    ul,
    li,
    p,
    div {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    html{font-size: 250%;}
/*40px=1rem*/
@media (min-height:650px) {
    html { font-size: 260%;}
}
@media (min-height:650px) and (max-height:800px){
    html { font-size:  280%;}
}
@media (min-height:800px) and (max-height:950px){
    html { font-size: 320%;}
}
@media (min-height:950px){
    html { font-size: 340%;}
}
    .block-center:after{
        content: '';
        display: inline-block;
        height: 100%;width: 0;
        vertical-align: middle;
    }
    
    .index_1:after {
        content: '1';
    }
    
    .index_2:after {
        content: '2';
    }
    
    .index_3:after {
        content: '3';
    }
    
    .index_4:after {
        content: '4';
    }
    
    .index_5:after {
        content: '5';
    }
    
    .index_6:after {
        content: '6';
    }
    
    .index_7:after {
        content: '7';
    }
    
    .index_8:after {
        content: '8';
    }
    
    .index_9:after {
        content: '9';
    }
    
    .index_10:after {
        content: '10';
    }
    
    .index_11:after {
        content: '11';
    }
    
    .index_12:after {
        content: '12';
    }
    
    .index_13:after {
        content: '13';
    }
    
    .index_14:after {
        content: '14';
    }
    
    .index_15:after {
        content: '15';
    }
    
    .index_16:after {
        content: '16';
    }
    
    .index_17:after {
        content: '17';
    }
    .games{
        width:100%;
        height: 77%;
        position: absolute;
    }
  .top{
        height: 2.5rem;
        width: 100%;
        position: relative;
        z-index: 2;
        background: url(img/head_title_bg.png) no-repeat top center;
        background-size: 100% 70%;
    }
 .top .fkjsq{
       position: absolute;
       top: 0;
       text-align: center;
       width: 100%;
       font-size: 24px;
       height: 62%;
       color: #AF5700;
  }
  .top .fkjsq span{
       position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
  }
 .top .goback{
    display: block;
    background: url(img/btn_back.png) no-repeat;
    height: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    background-size: contain;
 }
.gameImgList{
   width: 90%;
    height: auto;
    overflow: hidden;
    zoom: 1;
    position: relative;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.gameImgList li{
    float: left;
    width: 13%;
    margin: 0% 6%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    position: relative;
    cursor: pointer;
}
.gameImgList li img{
  width:96%;
  height: auto;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
}
.gameImgList li.check {
    border:1px solid #d0dbf5;
  border-radius: 500px;
      -webkit-animation: float ease-in-out 2s infinite;
    animation: float ease-in-out 2s infinite;
     -moz-box-shadow:0 0 10px 1px #b5d8fb;
       -webkit-box-shadow:0 0 10px 1px #b5d8fb;
       box-shadow:0 0 10px 1px #b5d8fb;
}
/*.gameImgList li.check img{
   display:none;
}*/
@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.gameImgList li:after {
    position: absolute;
    top: -1000px;
    left:-1000px;
    display: block;
    text-align: center;
    width: 1%;
    line-height: 10px;
    color:transparent;
    font-size: 80px;
    background: rgba(0, 0, 0, 0);
}
li:after{
     color:transparent;
}
@keyframes myfirst
{
    0%   {transform:scale(0.6);}
    50%  {transform:scale(0.3);}
    100% {transform:scale(1);}
}
@-webkit-keyframes myfirst /* Safari ä¸Ž Chrome */
{
    0%   {transform:scale(0.5);}
    50%  {transform:scale(0.2);}
    100% {transform:scale(1);}
}
.gameNum{
    width: 1rem;
    background: #d4d7e0;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-45%);
    border-radius: 5px;
    box-shadow:0px 0px 7px rgba(0,0,0,0.7);
}
.gameNum li{
    width: 1rem;
    height: 0.9rem;
    line-height:0.9rem;
    font-size: 0.425rem;
    font-weight: bold;
    display: block;
    text-align: center;
    background: #d4d7e0;
}
.gameNum li.bgc{
    background: #109df7;
}
.LeverNum{
    width:110px;
    position: absolute;
    top: 50px;
    right: -130px;
    height: auto;
    background: #909090;
    padding: 15px;
    /*display: none;*/
}
.LeverNum p{
    line-height: 30px;
    font-size: 17px;

}
.gameScoreWrap{
    position: absolute;
    top: 180px;
    right: -100px;
    width: 70px;
    height: auto;

}
.gameScoreWrap .gameScore{
    background: #d4d7e0;
    box-shadow:0px 0px 7px rgba(0,0,0,0.7);
    padding-bottom: 30px;
    /*display: none;*/
}
.gameScoreWrap .gameScore .text{
   font-size: 20px;
    line-height: 46px;
    text-align: center;
}
.gameScoreWrap .gameScore .score{
  line-height: 86px;
    text-align: center;
    font-size: 40px;
    color: #109df7;
}
.gameScoreWrap button{
    width: 70px;
    line-height: 26px;
    margin-top: 6px;
    background: #109df7;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
.countDown{
    position: absolute;
    top: 420px;
    right: -100px;
    width: 70px;
    height: auto;
    background: #d4d7e0;
    box-shadow:0px 0px 7px rgba(0,0,0,0.7);
    padding: 20px 0;
    text-align: center;
    /*display: none;*/
}
.countDown .time{
    line-height: 80px;
    font-size: 40px;
    color: #109df7;
}
#errormsg{
     position: absolute;
    top: 50%;
    left:50%;
    color: #fff;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.7);
    display: none;
    padding: 13px 35px;
    font-size: 22px;
    border-radius: 6px;
}
.allEnd{
    position: relative;
    z-index:1000;
    width: 100%;
    top: 0rem;
    display: none;
}
.end{
    position: absolute;
    top: 50%;
    left:50%;
    color: #333;
    font-weight: 400;
    transform: translate(-50%,-50%);
    padding: 10px 20px;
    font-size: 0.6rem;
    line-height: 1.1rem;
}
.end .text{
    display: inline-block;
    width:3rem;
    padding-right: 10px;
    text-align: right;
}
 .end .endTip{
    font-size: 0.75rem;
    line-height:1.8rem;
    text-align: center;
}